<div class="page-content">
    <div class="container">
        <div class="page-header">
            <h1>Data List <small>{{ results.total_rows}} results</small></h1>
        </div>

        <div class="data-list-controls col-md-12">
            <form class="form-inline" action="/manage/filter" method="post">
                
                <div class="form-group">
                    <input type="text" class="form-control" id="nameSearch" placeholder="Name">
                </div>

                <div class="form-group">
                    <select class="form-control">
                        <option>Cause of Death</option>
                        <option value="Gunshot">Gunshot</option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="age" class="form-control">
                        <option>Age</option>
                        <option value="18">18 and under</option>
                        <option value="19-35">19 to 35</option>
                        <option value="36-50">36 to 50</option>
                        <option value="51">51 and over</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control">
                        <option>Race</option>
                        <option>African-American/Black</option>
                        <option>Hispanic/Latino</option>
                        <option>Asain</option>
                        <option>Other</option>
                        <option>Unknown</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control">
                        <option>Sex</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control">
                        <option>State</option>
                        <option>WA</option>
                        <option>CA</option>
                        <option>OR</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control">
                        <option>From</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control">
                        <option>To</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>

        <div class="col-md-12">
            <ul class="list-group">
            {{#results.rows}}
                <li class="list-group-item clearfix">
                    <span class="list-item-value list-item-large">
                        <a href="{{id_link_base}}{{id}}">{{value.subject.name}}</a>
                    </span>

                    <span class="list-item-value list-item-large">{{value.cause}}</span>
                    
                    <span class="list-item-value list-item-xtra-small">{{value.subject.age}}</span>
                    <span class="list-item-value list-item-large">{{value.subject.race}}</span>
                    <span class="list-item-value list-item-med">{{value.subject.sex}}</span>
                    
                    <span class="list-item-value list-item-xtra-small">{{value.location.state}}</span>

                    <span class="list-item-value list-item-small">{{value.date}}</span>
                    
                    <span class="list-item-controls">
                        <a href="{{{../link_base}}}{{id}}" class="pull-right delete-link">
                            <span class="btn btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                        </a>
                    </span>
                </li>
            {{/results.rows}}
            </ul>
            {{^results.rows}}
            <p>No results available</p>
            {{/results.rows}}
        </div>
    </div>
</div>