<div class="page-content">
    <div class="container">

        <div class="col-md-12 page-header">
            <h1>Data</h1>
        </div>

        <div class="col-md-12">
            <h2>Demographics</h2>
            <p>This file contains race, cause of death, age, name, location, gender, and date of death for each record.</p>

            <p>
                <a href="https://s3-us-west-2.amazonaws.com/sdf-json/fe.json" target="_blank">json file</a>
            </p>

            <h2>Full Dataset</h2>
            <p>The complete dataset, including all additional fields.</p>

            <p>
                <a href="https://s3-us-west-2.amazonaws.com/sdf-json/fe.json" target="_blank">json file</a>
            </p>
        </div>
    </div>
</div>