{{#edit}}
<span class="fe-details-form-submit-section fe-details-section">
    

    <span class="col-xs-12 col-md-4"></span>
    
    <span class="fe-details-form-submit-col col-xs-12 col-md-2">
        <input type="text" class="form-control" placeholder="your name" name="suggest-edit-name" />
    </span>

    <span class="fe-details-form-submit-col col-xs-12 col-md-2">
        <input type="text" class="form-control" placeholder="your email" name="suggest-edit-email" />
    </span>
    
    
    <span class="fe-details-form-submit-col col-xs-12 col-md-2">
        <button class="btn btn-primary fe-details-form-submit" type="submit" form="saveEdits" value="Save">
            {{^new}}Suggest Edits{{/new}}
            {{#new}}Send{{/new}}
            <i class="fa fa-arrow-right"></i>
        </button>
    </span>
    
</span>
{{/edit}}