<div class="fe-details-form-controls-section row">
    
    <span class="col-xs-12 col-md-2">

        {{#cancelButton}}
        <a href="/details/{{id}}"><button class="btn btn-warning" type="button"><i class="fa fa-arrow-left"></i> &nbsp;{{_str.cancel}}</button></a>
        {{/cancelButton}}

    </span>

    <span class="fe-details-form-submit-col col-xs-12 col-md-10">

        {{#suggestEdits}}
        <form action="/details/{{id}}?edit=true" method="POST" class="fe-details-user-controls pull-right">
            <button class="btn btn-default" type="submit">
                {{_str.suggest_edits}}
                <i class="fa fa-pencil"></i>
            </button>
        </form>
        {{/suggestEdits}}

        {{#removeAssignment}}
        <form action="/details/{{id}}?removeAssignment=true" method="POST" class="fe-details-user-controls pull-right">
            <button class="btn btn-default fe-details-form-submit" type="submit">
                Unassign
                <i class="fa fa-close"></i>
            </button>
        </form>
        {{/removeAssignment}}

        {{#addAssignment}}
        <form action="/details/{{id}}?addAssignment=true" method="POST" class="fe-details-user-controls pull-right">
            <button class="btn btn-default fe-details-form-submit" type="submit">
                Assign to Me
                <i class="fa fa-star"></i>
            </button>
        </form>
        {{/addAssignment}}

        {{#alreadyAssigned}}
            <span class="pull-right"><i class="fa fa-lock"></i> This record is already assigned to another user. <a href="/list">Return to the list.</a></span>
        {{/alreadyAssigned}}

    </span>
</div>