<form class="form-inline" action="{{postURL}}" method="post">

    

    
    <!--
    <div class="col-md-12 fe-margin-bottom-sm fe-user-filters">
        {{#userFilter}}
        <div class="form-group">
            <select name="{{name}}" class="form-control">
                {{#options}}
                <option value="{{value}}" {{selected}}>{{text}}</option>
                {{/options}}
            </select>
        </div>
        {{/userFilter}}

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="saveFilter"> Save Filter
                </label>
            </div>
        </div>
        
    </div>
    
    -->


    <div class="col-md-12">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="{{_str.input_default_name}}" value="{{name}}">
        </div>

        <input type="hidden" name="limit" value="{{limit}}">

        {{#publicFilter}}
        <div class="form-group">
            <select name="{{name}}" class="form-control">
                {{#options}}
                <option value="{{value}}" {{selected}}>{{text}}</option>
                {{/options}}
            </select>
        </div>
        {{/publicFilter}}
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{_str.filter_button}}</button>
        </div>

        <div class="form-group">
            <a href="/list">Clear Filter</a>
        </div>
    </div>

    <!--
    <div class="col-md-12">
        <div class="form-group">
            <a href="/list?filters=all">More filters</a>
        </div>
    </div>
    -->
</form>