<div class="page-content">
    <div class="container">
        <div class="page-header col-md-12">
            <h1>{{_str.title}} <small>{{ count}} {{_str.results}}</small></h1>
        </div>

        <div class="data-list-controls col-md-12">
            {{{filters}}}
        </div>

        <div class="col-md-12">
            {{{pagination}}}
        </div>

        <div class="col-md-12">
            <ul class="list-group">
            {{#results}}
                <li class="list-group-item clearfix">
                    {{#assigned}}
                    <span class="list-item-value list-item-assigned-{{state}} list-item-xtra-small">
                        <a href="javascript:;" title="{{title}}">
                            <i class="fa fa-check"></i>
                        </a>
                    </span>
                    {{/assigned}}

                    <span class="list-item-value list-item-large">
                        <a href="/details/{{id}}" target="_blank">{{value.subject.name}}</a>
                    </span>

                    <span class="list-item-value list-item-xtra-small">{{value.subject.age}}</span>

                    <span class="list-item-value list-item-med">{{value.subject.sex}}</span>

                    <span class="list-item-value list-item-large">{{value.subject.race}}</span>

                    <span class="list-item-value list-item-large">{{value.death.cause}}</span>
                    
                    <span class="list-item-value list-item-xtra-small">{{value.location.state}}</span>

                    <span class="list-item-value list-item-small">{{value.death.event.date}}</span>
                    
                    {{#admin}}
                    <span class="list-item-controls">
                        <a href="{{{../link_base}}}{{id}}" class="pull-right delete-link">
                            <span class="btn btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                        </a>
                    </span>
                    {{/admin}}
                </li>
            {{/results}}
            </ul>
            {{^results}}
            <p>No results available</p>
            {{/results}}
        </div>

        <div class="col-md-12">
            {{{pagination}}}
        </div>
    </div>
</div>