<div class="page-content">
    <div class="container">
        <div class="col-md-12 page-header">
            <h1>How to Help</h1>
            <p>There are several ways you can help.</p>

            <h2>Report missing record</h2>
            <p>If a report is missing from our list, please let us know about it and <a href="/details/new">report a death.</a></p>

            <h2>Suggest an edit</h2>
            <p>If one of our reports is innacurate or missing data, visit the details page and click 'suggest edits' in the upper right of the page</p>

            <h2>Integrate with our Data</h2>
            <p>Download complete and partial data sets.  See a list of current integrations.</p>

            <h2>Help spread the word</h2>
            <p>Share something</p>
        </div>
    </div>
</div>