<div class="page-content">
    <div class="container">
        <div class="col-md-12 page-header">


            <h1>About {{_str.title}}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum viverra nibh, sed congue sem rutrum auctor. Aliquam tristique purus vel urna blandit rutrum. Nam ullamcorper augue lectus, eu pellentesque leo rutrum eu. Donec sed nibh sapien. Cras finibus luctus iaculis. Vivamus at nisi enim. Cras ut arcu quis velit maximus tempus. Maecenas laoreet elit magna, id feugiat arcu mattis suscipit. Pellentesque eget rhoncus purus. Morbi at massa sed dui dictum dictum a non orci. In elementum massa risus, in commodo metus eleifend nec.</p>

            <h2>How to Help</h2>
            <p>In elementum massa risus, in commodo metus eleifend nec.</p>

            <h2>Resources</h2>
            <ul>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>

            {{{subView}}}
        </div>
    </div>
</div>