<html>
	<head>

		<title>{{locals.title}}</title>

<!--        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.7/datamaps.usa.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


        <script src="//cdnjs.cloudflare.com/ajax/libs/chartist/0.9.8/chartist.min.js"></script>
        

		{{#locals.js}}
		<script src="/js/{{.}}.js"></script>
		{{/locals.js}}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.8/chartist.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.7.1/css/flag-icon.css">
        
		<link href="/css/style.css" rel="stylesheet" type="text/css">

		{{#locals.css}}
		<link href="/css/{{.}}.css" rel="stylesheet" type="text/css">
		{{/locals.css}}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-42933134-3', 'auto');
          ga('send', 'pageview');
        </script>
		
	</head>
	<body>
		{{{yield}}}
	</body>
</html>