<!--
<div class="col-md-12">
    <i>{{user.username}}</i>

    {{#user.roles}}
    <span class="fe-user-role">{{name}}</span>
    {{/user.roles}}
</div>
-->


<div class="fe-header">
    <div class="col-md-12">
        <ul class="nav nav-pills nav-header col-md-9">
            
            <li role="presentation" class="nav-item-standout"><a href="/details/new">{{_str.report}}</a></li>
            <li role="presentation" class=""><a href="/help">How to Help</a></li>
            <li role="presentation" class=""><a href="/contact">{{_str.contact}}</a></li>
            

        </ul>
    </div>

    <div class="fe-list-name">{{_str.home}}</div>
</div>
<div class="col-md-12">
    
    <ul class="nav nav-pills col-md-9">
        <li class=""><a href="/">About</a></li>
        <li role="presentation" class=""><a href="/list">{{_str.list}}</a></li>
        <li role="presentation" class=""><a href="/data">{{_str.data-api}}</a></li>
        <li role="presentation" class=""><a href="/charts">Charts</a></li>
        <!--
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/charts" role="button" aria-expanded="false">Charts<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/charts/filter">Filter</a></li>
                <li><a href="/charts/age">Age</a></li>
                <li><a href="/charts/sex">Sex</a></li>
                <li><a href="/charts/race">Race</a></li>
                <li><a href="/charts/location">Location</a></li>
                <li><a href="/charts/cause">Cause</a></li>
            </ul>
        </li>
        -->
        <li role="presentation" class=""><a href="/news">News & Updates</a></li>
    </ul>

    <!--
    <ul class="nav nav-pills col-md-3">
        <li role="presentation"><a href="#" class="fe-lang-chooser flag flag-icon-background flag-icon-us"></a></li>
        <li role="presentation"><a href="#" class="fe-lang-chooser flag flag-icon-background flag-icon-mx"></a></li>

        {{#user.username}}
        <span class="fe-user-role">{{.}}</span>
        {{/user.username}}

        {{^user.username}}
        <li role="presentation" class=""><a href="/login/">{{_str.login}}</a></li>
        {{/user.username}}

        
    </ul>
    -->
</div>