<div class="page-content">
    <div class="container">
        <div class="page-header">
            <h1>Landing Page</h1>
        </div>
        <div class="row>
            <div class="col-xs-12">
                <p>This info will definitely change as we move forward, but for now your routes are:</p>
                <ul>
                    {{#routes}}
                        <li><a href="{{route}}">{{route}}</a> - {{ description }}</li>
                    {{/routes}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="recordContainer"></div>

<svg id="elementWrapper"></svg>