<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Location</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[location][city]">City</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.location.city}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[location][city]" value="{{results.value.location.city}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[location][county]">County</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.location.county}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[location][county]" value="{{results.value.location.county}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[location][state]">State</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.location.state}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[location][state]" value="{{results.value.location.state}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[location][zipcode]">Zipcode</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.location.zipcode}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[location][zipcode]" value="{{results.value.location.zipcode}}" />
                </div>
            </div>
        </div>        
    </div>
</div>