<html>
	<head>
		<title>Dashboard</title>
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
		<script data-main="js/app" src="js/require-config.js"></script>
	</head>
	<body></body>
</html>